{% extends "layout_big.html" %}



{% block content %}


<h2>There's no dumb question</h2>
<div id="outputbox">

  <div class="span5"><pre id="source" style="background: #efefff; margin-left: -20px;">{{ code|safe }}</pre></div>

  <div class="span7">


  <div id="statement"></div>
  <div id="speech"></div>

  


  <div style="text-align: center">
    <h4 id="helper">Press this button or right arrow</h4>
    <input id="continue" class="btn btn-medium" value="Start" type="button">
    <h4 id="value">{{ result }}</h4>
    <input id="replay" class="btn btn-medium" value="Replay" type="button">
  </div>

  <table>
    <tr>
      <td width="160px"><img src="/static/talk.jpg"></td>
      <td><p id="echo"></p></td>
    </tr>
  </table>
  </div>
</div>

<div style="clear:both;"></div>

<script>
var output = {{ output|safe }};
</script>

<script src="/static/js/vivid.js"></script>
{% endblock %}
