{% extends "layout.html" %}

{% block content %}

<h2>Insert-g</h2>



<form action="/talk/" method="post" style="margin: 60px 0px 100px 0px;">
  {% csrf_token %}


<table>

<tr>
<td>
  <textarea id="inputbox" name="code" style="height:530px;">
(begin

(define insert-g
  (lambda (new old l)
    (lambda (new old l)
      (cond
        ((null? l) (quote ()))
        ((eq? (car l) old)
          (seq new old (cdr l)))
        (else (cons (car l)
                ((insert-g seq) new old
                  (cdr l))))))))

(define seqL
  (lambda (new old l)
    (cons new (cons old l))))

(define insertL (insert-g seqL)


)</textarea>
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("inputbox"), {lineNumbers: true, tabSize: 2});
</script>
</td>

<td style="text-align: right; vertical-align: bottom;">
  
<input id="evalbutton" class="btn btn-large btn-success" type="submit" value="Begin Talking!" type="button">
<img style="margin-top: 30px;" src="/static/talk.jpg" >
</td>

</tr>
</table>


</form>








{% endblock %}
