{% extends "layout.html" %}

{% block content %}

<h2>mk-length</h2>



<form action="/talk/" method="post" style="margin: 60px 0px 100px 0px;">
  {% csrf_token %}

<table>

<tr>
<td>
  <textarea id="inputbox" name="code">
(begin

(define eternity
  (lambda (x)
    (eternity x)))

(((lambda (mk-length)
    (mk-length mk-length))
  (lambda (mk-length)
    (lambda (l)
      (cond
        ((null? l) 0)
        (else (add1 
                ((mk-length eternity)
                 (cdr l))))))))

 (quote (apples))

)

)</textarea>
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("inputbox"), {lineNumbers: true, tabSize: 2});
</script>
</td>

<td style="text-align: right; vertical-align: bottom;">
  
<input id="evalbutton" class="btn btn-large btn-success" type="submit" value="Begin Talking!" type="button">
<img style="margin-top: 30px;" src="/static/talk.jpg" >
</td>

</tr>
</table>
</form>



{% endblock %}
